.App {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    background-color: #fff;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 50s linear;
    }
}

.App-header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.heading-container {
    display: inline;

    div {
        text-align: center;
    }
}

.heading {
    padding: 10px 20px;
    color: #000;
    font-size: calc(15px + 2vmin);
    font-weight: 400;
}

.sub-heading {
    color: #676767;
    font-size: calc(10px + 2vmin);
}

.description-container {
    color: #fff;
    font-size: calc(12px + 2vmin);
    background-color: #941E32;
}

.description-inner-container {
    margin: 0 5px;
    padding: 5vh 10vw;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.footer {
    background-color: black;
    color: white;
    font-size: calc(10px + 2vmin);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    padding: 0 5px;
    color: white;
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #F7B718;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.tamil-description-container {
    color: #fff;
    font-size: calc(12px + 2vmin);
    background-color: #DF7500;
}