.card-container {
    border: solid 1px #F7B718;
    border-radius: 10px;
    display: grid;
    margin: 5px;
}

.card-item {
    color: black;
    font-size: calc(10px + 2vmin);
    flex-grow: 1;
}

.card-item-titles {
    padding: 20px;
}

.card-heading {
    font-size: calc(10px + 2vmin);
}

.card-time-heading {
    color: #941E32;
}

.card-sub-heading {
    color: #676767;
    font-size: calc(10px + 2vmin);
}


